body {
    color: #222;
    font-family: Helvetica,Arial,sans-serif;
}

time {
    font-weight: 400;
    font-style: italic;
}

h1 {
    font-weight: 400;
}


#header {
background: #212121;
background: -moz-linear-gradient(top, #373737, #212121);
background: -webkit-linear-gradient(top, #373737, #212121);
background: -ms-linear-gradient(top, #373737, #212121);
background: -o-linear-gradient(top, #373737, #212121);
background: linear-gradient(top, #373737, #212121);
width: 100%;
margin-bottom: 15px;
}

#header .inner {
padding-top: 50px;
padding-bottom: 30px;
position: relative;
}

#forkme {
display: block;
position: absolute;
top: 0;
right: 10px;
z-index: 10;
padding: 10px 50px 10px 10px;
color: #FFF;
background: url('blacktocat.png') #0090FF no-repeat 95% 50%;
font-weight: 700;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
}

#forkme:hover {
    text-decoration: none;
    background-color: #0065b3;
}
h1.project-title {
margin: 0;
color: #FFF;
font-size: 36px;
font-weight: 700;
text-shadow: #111 0px 0px 10px;
}

.btn-deal {
  display: inline-block;
  padding: 10px 30px;
  background: #3498DB;
  border: 0;
  color: #FFF;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-body .table {
  margin-bottom: 0
}

.well {
    padding-bottom: 0;
}
.checkbox {
  margin-top: 0;
  margin-bottom:0;
  display: inline-block;
}

.select {
  display: inline-block;
}
.probabilities {
  display: block;
  padding: 15px 15px 0 15px;
  margin: 0 0 10px 0;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #FFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;

}


.score {
  background-color: #FFF;
  border: 1px solid #E3E3E3;
  padding: 2px 4px;
  margin-right: 1px; 
  font-size: 90%;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.post {
    color: #999;
}
.code {

font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.card {
    padding: 38px 15px;
    margin: 5px 10px 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    text-align: center;

    display: inline-block;
    width:100px;
    border-radius: 6px;
    position: relative;
}

.card .suit {
  position: absolute;
  top: 4px;
  left:6px;
  font-size: 1.45em;
  padding: 0;
}

.card .rank {
    font-weight: bold;
    font-size: 3em;
    text-align: center;



  padding: 0;
}

.options {
  margin-top: 15px;
}

.small {
  font-size: 95%;
}

.alert>p, .alert>ul {
  margin-bottom: 15px;
}

.light {
  color: #666;
}