body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	color: #FFF;
}

.full {
	background-color: #DF5C4F;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar-inverse {
	background-color:#db4839;
	border-color: #a62a1e;
}

input[type=color] {
	height: 60px;
	width: 100%;
	float: left;
	clear: none;
	border: none;
}